
@import "tailwindcss";
@plugin "daisyui";

/* ภาษาของเว็บ */
:root{
  --font-en: "Inter", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  --font-th: "Noto Sans Thai", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  --font-sans: var(--font-en); /* default = English */
}
:lang(th){ --font-sans: var(--font-th); }

body{
  font-family: var(--font-sans);
  font-feature-settings: "tnum" 1, "lnum" 1; /* ตัวเลขตรงคอลัมน์ เหมาะกับเวลา/ราคา */
}
